<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {{ ansible_managed }} -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vlad holding page (index.php)">
    <meta name="author" content="">

    <title>Vlad (Vagrant LAMP Ansible Drupal) Holding Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      dt { margin-top: 1em; }
      #phpinfo a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
      #phpinfo a:hover {text-decoration: underline;}
      #phpinfo table {border-collapse: collapse;}
      #phpinfo .center {text-align: center;}
      #phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left;}
      #phpinfo .center th { text-align: center !important; }
      #phpinfo td, #phpinfo th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
      #phpinfo h1 {font-size: 150%;}
      #phpinfo h2 {font-size: 125%;}
      #phpinfo .p {text-align: left;}
      #phpinfo .e {background-color: #ccccff; font-weight: bold; color: #000000;}
      #phpinfo .h {background-color: #9999cc; font-weight: bold; color: #000000;}
      #phpinfo .v {background-color: #cccccc; color: #000000;}
      #phpinfo .vr {background-color: #cccccc; text-align: right; color: #000000;}
      #phpinfo img {float: right; border: 0px;}
      #phpinfo hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}
    </style>
</head>

<body>

<div class="container">
<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a href="https://github.com/hashbangcode/vlad">Contribute</a></li>
    </ul>
    <h3 class="text-muted">Vlad (Vagrant LAMP Ansible Drupal)</h3>
</div>

<div class="jumbotron">
    <svg style="float:left;background-color:#58585A;padding:20px;margin:-25px 20px 0 -30px" width="229px" height="220px" viewBox="0 0 229 220" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
        <title>Slice 1</title>
        <desc>Created with Sketch.</desc>
        <defs>
            <path id="path-1" d="M41.556,11.432 L0.233,0.057 L14.556,29.432 L41.556,42.801 L68.556,29.432 L82.879,0.057 L41.556,11.432"></path>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="vlad-logo" sketch:type="MSLayerGroup">
                <path d="M114.611,27.307 L0,0.626 L114.563,220 L229.006,0.651 L114.611,27.307" id="Fill-1" fill="#3F403D" sketch:type="MSShapeGroup"></path>
                <path d="M114.556,205.307 L216.122,10.64 L114.556,34.307 L12.896,10.64 L114.556,205.307" id="Fill-2" fill="#D14538" sketch:type="MSShapeGroup"></path>
                <path d="M114.556,71.838 L173.892,44.345 C161.772,24.248 139.736,10.807 114.556,10.807 C89.377,10.807 67.341,24.248 55.221,44.345 L114.556,71.838" id="Fill-3" fill="#3F403D" sketch:type="MSShapeGroup"></path>
                <path d="M155.879,52.691 L73.233,52.691 L33.556,34.307 L114.556,187.307 L195.556,34.307 L155.879,52.691" id="Fill-4" fill="#D4D1CC" sketch:type="MSShapeGroup"></path>
                <path d="M157.759,43.432 C157.759,55.375 148.078,65.057 136.134,65.057 C124.191,65.057 114.509,55.375 114.509,43.432 C114.509,31.488 124.191,21.807 136.134,21.807 C148.078,21.807 157.759,31.488 157.759,43.432" id="Fill-5" fill="#D4D1CC" sketch:type="MSShapeGroup"></path>
                <path d="M114.556,43.432 C114.556,55.375 104.875,65.057 92.931,65.057 C80.987,65.057 71.306,55.375 71.306,43.432 C71.306,31.488 80.987,21.807 92.931,21.807 C104.875,21.807 114.556,31.488 114.556,43.432" id="Fill-6" fill="#D4D1CC" sketch:type="MSShapeGroup"></path>
                <path d="M102.218,43.306 L126.218,43.306 L126.218,55.306 L102.218,55.306 L102.218,43.306 Z" id="Fill-7" fill="#D4D1CC" sketch:type="MSShapeGroup"></path>
                <path d="M108.556,56.932 C108.556,64.388 102.512,70.432 95.056,70.432 C87.6,70.432 81.556,64.388 81.556,56.932 C81.556,49.476 87.6,43.432 95.056,43.432 C102.512,43.432 108.556,49.476 108.556,56.932" id="Fill-8" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <path d="M104.056,56.932 C104.056,61.902 100.027,65.932 95.056,65.932 C90.085,65.932 86.056,61.902 86.056,56.932 C86.056,51.961 90.085,47.932 95.056,47.932 C100.027,47.932 104.056,51.961 104.056,56.932" id="Fill-9" fill="#D14538" sketch:type="MSShapeGroup"></path>
                <path d="M147.556,56.932 C147.556,64.388 141.512,70.432 134.056,70.432 C126.6,70.432 120.556,64.388 120.556,56.932 C120.556,49.476 126.6,43.432 134.056,43.432 C141.512,43.432 147.556,49.476 147.556,56.932" id="Fill-10" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <path d="M143.056,56.932 C143.056,61.902 139.027,65.932 134.056,65.932 C129.085,65.932 125.056,61.902 125.056,56.932 C125.056,51.961 129.085,47.932 134.056,47.932 C139.027,47.932 143.056,51.961 143.056,56.932" id="Fill-11" fill="#D14538" sketch:type="MSShapeGroup"></path>
                <path d="M114.556,88.432 L73.233,77.057 L87.556,106.432 L114.556,119.801 L141.556,106.432 L155.879,77.057 L114.556,88.432" id="Fill-12" fill="#D14538" sketch:type="MSShapeGroup"></path>
                <g id="Group-16" transform="translate(73.000000, 77.000000)">
                    <mask id="mask-2" sketch:name="Clip 14" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-14"></g>
                    <path d="M8.556,-20.068 L21.34,19.306 L35.556,-20.068 L8.556,-20.068" id="Fill-13" fill="#FFFFFF" sketch:type="MSShapeGroup" mask="url(#mask-2)"></path>
                    <path d="M47.556,-20.068 L61.772,19.306 L74.556,-20.068 L47.556,-20.068" id="Fill-15" fill="#FFFFFF" sketch:type="MSShapeGroup" mask="url(#mask-2)"></path>
                </g>
                <path d="M155.879,125.988 L123.556,133.182 L114.556,149.12 L105.556,133.182 L73.233,126.053 L90.142,158.556 L94.34,149.12 L114.556,187.307 L134.772,149.12 L138.968,158.556 L155.879,125.988" id="Fill-17" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
            </g>
        </g>
    </svg>
    <h1>Vlad</h1>
    <p class="lead">A Drupal development platform in a box, with everything you would need to develop Drupal websites.</p>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>Getting started</h2>
        <p>You are now ready to start developing, but you first need to install a site. You can do this by simply
        replacing everything in the <var>{{ host_synced_folder }}</var> directory or by using one of the two
        installation scripts provided.</p>

        <h3>Documentation</h3>
        <p><a href="http://vlad-docs.readthedocs.org/">View the documentation site.</a></p>

        <h3>Build your own site</h3>
        <p>Out of the box Vlad is ready to run a Drupal site. Simply put the code in the <var>{{ host_synced_folder }}</var> directory and run either use the >web installer or install the site using drush:</p>
        <pre class="prettyprint linenums">
$ cd /var/www/site/{{ host_synced_folder }}
$ drush site-install profile_name --db-url=mysql://{{ dbuser }}:{{ dbpass }}@localhost/{{ dbname }} --account-name=admin --account-pass=password --yes
</pre>

        <h3>Install scripts</h3>
        <p>A number of installation scripts are available that will download and install Drupal. You need to log into the Vagrant
        box (using 'vagrant ssh') and run one of the following scripts.</p>

        <p><strong>Drupal 6</strong> install script. This will grab the latest copy of Drupal 6 and install it onto the
        box using the Standard install profile into the default database.
        <pre class="prettyprint linenums">$ /var/www/drupal6_install.sh</pre>

        <p><strong>Drupal 7</strong> install script. This will download the latest copy of Drupal 7 and install it
        using the Standard install profile onto the default database. The Overlay module is also uninstalled.</p>
        <pre class="prettyprint linenums">$ /var/www/drupal7_install.sh</pre>

        <p><strong>Drupal 8</strong> install script. This will download the latest tagged release of Drupal 8 and install
        it using the standard install profile.
        <pre class="prettyprint linenums">$ /var/www/drupal8_install.sh</pre>

        <p><strong>Drupal 8 Dev</strong> install script. This will clone the latest version of
        Drupal 8 from the Drupal Git repository and install it using the Standard profile. The upshot of this is that
        you have a working version of the Drupal Git repository and so you can pull the latest copy and easy write
        patches. The downside is that it can be a little unstable.</p>
        <pre class="prettyprint linenums">$ /var/www/drupal8dev_install.sh</pre>

        <p>In all cases the user credentials are as follows:</p>

        <table class="table">

          <tbody>

            <tr>
              <th>User:</th>
              <td>admin</td>
            </tr>

            <tr>
              <th>Password:</th>
              <td>password</td>
            </tr>

          </table>

        </table>

        <h3>Access the site</h3>
        <p>Go to <a href="//{{ webserver_hostname }}">{{ webserver_hostname }}</a> in your browser and the site is rocking.</p>

        <h3>Developing</h3>
        <p>All your files are actually located on your host machine in the <var>{{ host_synced_folder }}</var>-directory
        shared by nfs. So you can use your normal tools for development and git on the host machine.</p>

        <h4>Vagrant environment</h4>
        <p>You can login into the box using:</p>
            <pre class="prettyprint linenums">
$ vagrant ssh
</pre>

    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Information about the box</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>VLAD Version</th>
                        <td>{{ vlad_version.stdout }}</td>
                    </tr>

                    <tr>
                        <th>Box IP address</th>
                        <td>{{ boxipaddress }}</td>
                    </tr>

                    <tr>
                        <th>Box name</th>
                        <td>{{ boxname }}</td>
                    </tr>

                    <tr>
                        <th>Server e-mail</th>
                        <td>{{ admin_mail }}</td>
                    </tr>
                    </tbody>
                </table>

                <h4>Content of box</h4>

                <ul>
                    <li>MySQL</li>
                    <li>Apache2</li>
                    <li>PHP</li>
                    <li><a href="https://github.com/hashbangcode/vlad">... and more goodies</a></li>
                </ul>

                <h4>Contribute</h4>

                <p>Check out the project at <a
                        href="https://github.com/hashbangcode/vlad">https://github.com/hashbangcode/vlad</a>

                <h4>Feedback</h4>

                <p>Please give feedback in the <a href="https://github.com/hashbangcode/vlad">issue queue for
                    Vlad</a>.</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tools</h3>
            </div>
            <div class="panel-body">

                <p>The following tools are also accessible:</p>
                <dl>
                    {% if mailcatcher_install %}
                    <dt><a href="http://{{ webserver_hostname }}:1080/">MailCatcher</a></dt>

                    <dd>MailCatcher is a program that intercepts all emails sent by PHP and shows them on this web
                        page.
                    </dd>
                    {% endif %}

                    {% if adminer_install %}
                    <dt><a href="http://adminer.{{ webserver_hostname }}/">Adminer</a></dt>

                    <dd>Adminer is a mini database management software, written in PHP.</dd>
                    {% endif %}

                    {% if xhprof_install %}
                    <dt><a href="http://xhprof.{{ webserver_hostname }}/">XHProf</a></dt>

                    <dd>XHProf is a performance monitoring program that shows detailed execution stats of PHP page
                        loads. In order to
                        use XHProf you'll need to append the URL with "_profile=1" (i.e.
                        <a href="http://{{ webserver_hostname }}:{{ http_port }}/?_profile=1">http://{{ webserver_hostname }}:{{ http_port }}/?_profile=1</a>).
                    </dd>
                    {% endif %}

                    {% if solr_install %}
                    <dt><a href="http://{{ webserver_hostname }}:8081/solr">Solr Configuration</a></dt>

                    <dd>Solr is a search solution powered by Lucene and served by a Tomcat server. If you have
                        selected Solr to be installed then click on the above address to see the Sorl configuration screens.
                    </dd>
                    {% endif %}

                    <dt>XDebug</dt>

                    <dd>XDebug is a PHP debugging and profiling tool. To use the debugger, point your IDE at this
                        box IP address (<var>{{ boxipaddress }}</var>) and use port 9000. >You can also trigger the XDebug profiler by appending
                        "XDEBUG_PROFILE=true" to the URL (i.e.
                        <a href="http://{{ webserver_hostname }}/?XDEBUG_PROFILE=true">http://{{ webserver_hostname }}/?XDEBUG_PROFILE=true</a>).
                    </dd>

                   {% if pimpmylog_install %}
                    <dt><a href="http://logs.{{ webserver_hostname }}/">PimpMyLog</a></dt>

                    <dd>PimpMyLog is a little PHP tool that displays webserver error logs and is available at <a
                            href="http://logs.{{ webserver_hostname }}/" title="PimpMyLog">logs.{{ webserver_hostname }}</a>.
                    </dd>
                    {% endif %}

                </dl>
            </div>
        </div>

    </div>
</div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">FAQ</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">

            <h3>Questions</h3>
            <ul>
                <li><a href="#ssh">How to ssh into the virtual machine?</a></li>
                <li><a href="#drupal">How to quickly build Drupal 7 and 8?</a></li>
                <li><a href="#moresites">Can I run more sites on the same box?</a></li>
                <li><a href="#other-settings">How do I alter the settings for my vagrant box?</a></li>
            </ul>

            <h3>Answers</h3>

            <h4 id="ssh">How to ssh into the virutal machine?</h4>

            <p>Open your terminal application and change to the directory of your VLAD copy. Then execute the
                following command.</p>
            <code>
                $ vagrant ssh
            </code>

            <h4 id="drupal">How to quickly install current version of Drupal?</h4>

            <p>Install most current Drupal versions with any of the following:</p>

            <ul><li><strong>Drupal 6</strong></br>
            <code>$ sh /var/www/drupal6_install.sh</code></li>
            <li><strong>Drupal 7</strong><br>
            <code>$ sh /var/www/drupal7_install.sh</code></li>
            <li><strong>Drupal 8</strong> This gets the latest stable copy of Drupal 8, which is currently in Beta.<br>
            <code>$ sh /var/www/drupal8_install.sh</code></li>
            <li><strong>Drupal 8 Dev</strong> This gets the HEAD of the Drupal 8 dev branch, which is possibly unstable.<br>
            <code>$ sh /var/www/drupal8dev_install.sh</code></li>
            </ul>

            <h4 id="moresites">Can I run more sites on the same box?</h4>

            <p>Yes, it is easy to run several sites on the same box. You just put them in different folders in <var>/var/www/site/{{ host_synced_folder }}/</var>.
                You can create new databases using <a
                        href="http://adminer.{{ webserver_hostname }}:8080/?username=vlad">Adminer</a></p>

            <h4 id="other-settings">How do I alter the settings for my vagrant box?</h4>

            <p>You can edit your environment by editing <var>vlad_guts/vlad_settings.yml</var>. Remember to apply the updates by running the following command from your vagrant directory:</p>
        <pre class="prettyprint linenums">
$ vagrant reload --provision
</pre>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Technical information</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <h4>PHP {{  php_version }}</h4>

                <p><a href="phpinfo.php">phpinfo()</a> shows the current configuration of PHP.</p>

                <p>Apache is running under the user "data-www" but the user vagrant has write permissions to those
                    files.</p>

            </div>

            <div class="col-lg-6">
                <h4>MySQL</h4>

                <p>MySQL can be administered with <a href="http://adminer.{{ webserver_hostname }}/">Adminer</a>. But also
                    directly
                    through the command line once you ssh into your Vagrant box. To connect
                    to the MySQL server from your own scripts use the following connection
                    parameters:</p>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Host</th>

                        <td>localhost</td>
                    </tr>

                    <tr>
                        <th>Port</th>

                        <td>{{ mysql_port }}</td>
                    </tr>

                    <tr>
                        <th>User</th>

                        <td>{{ dbuser }}</td>
                    </tr>

                    <tr>
                        <th>Password</th>

                        <td>{{ dbpass }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">phpinfo() output</h3>
            </div>
        <div class="panel-body">
            <div class="col-lg-12" id="phpinfo">
<?php
ob_start();
phpinfo();
$pinfo = ob_get_contents();
ob_end_clean();

$pinfo = preg_replace('/^.*<body>(.*)<\/body>.*$/ms', '$1', $pinfo);
$pinfo = preg_replace_callback('/disable_functions<\/td><td class="v">(.*?)<\/td><td class="v">(.*?)<\/td>/ms',
  function ($m) {
    return 'disable_functions</td><td class="v">' . str_replace(',', ', ', $m[1]) . '</td><td class="v">' .  str_replace(',', ', ', $m[2]) . '</td>';
  }
  , $pinfo);

echo $pinfo;
?>
            </div>
        </div>
    </div>


</div>





</div>
<!-- /container -->

</body>
</html>
