# {{ ansible_managed }}

# Remove everything that might be in the docroot directory.
rm -rf /var/www/site/docroot/.* /var/www/site/docroot/*

# Move into the site directory.
cd /var/www/site/

# Download the latest recommended release of Drupal 7.x into docroot.
drush dl drupal-7 --drupal-project-rename=docroot --yes

# Move into the docroot directory.
cd docroot

# Create some directories.
mkdir sites/default/files
mkdir sites/all/modules/contrib
mkdir sites/all/modules/custom

# Install Drupal using Drush.
drush site-install --db-url=mysql://{{ dbuser }}:{{ dbpass }}@localhost/{{ dbname[0] }} --account-name=admin --account-pass=password --yes

# Disable the overlay module.
drush dis overlay --yes
