# {{ ansible_managed }}

# Remove everything that might be in the docroot directory.
rm -rf /var/www/site/docroot/.* /var/www/site/docroot/*

# Clone Drupal 8 dev branch into the docroot direcory.
git clone --branch 8.0.x http://git.drupal.org/project/drupal.git /var/www/site/docroot

# Create a settings.php fie.
cp /var/www/site/docroot/sites/default/default.settings.php /var/www/site/docroot/sites/default/settings.php

# Create some directories.
mkdir /var/www/site/docroot/modules/contrib
mkdir /var/www/site/docroot/modules/custom

# Set some lenient permissions on the docroot directory.
chmod -R 777 /var/www/site/docroot

# Install Drupal using the Drush.
cd /var/www/site/docroot
drush site-install --db-url=mysql://{{ dbuser }}:{{ dbpass }}@localhost/{{ dbname[0] }} --account-name=admin --account-pass=password --yes
